**/node_modules
**/dist
**/.env
**/civic-capsule-421111-firebase-adminsdk-llki3-324110c2f2.jsonblabla
api/civic-capsule-421111-firebase-adminsdk-llki3-324110c2f2.json
civic-capsule-421111-firebase-adminsdk-llki3-324110c2f2.json
